In [169]:
#Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [170]:
import io
%cd "C:\Users\acers\Documents\Datasets"

C:\Users\acers\Documents\Datasets

In [171]:
Input1=pd.read_csv("Dress Data.csv")

In [172]:
Input1.shape

(479, 13)

In [173]:
Input1.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0

In [174]:
Input1.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation'],
      dtype='object')

In [175]:
Input1.dtypes

Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
dtype: object

In [176]:
Input1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

In [177]:
Input1.describe()

           Dress_ID      Rating  Recommendation
count  4.790000e+02  479.000000      479.000000
mean   9.022420e+08    3.489353        0.427975
std    1.822352e+08    2.028941        0.495302
min    1.234568e+08    0.000000        0.000000
25%    7.666611e+08    2.000000        0.000000
50%    9.096250e+08    4.600000        0.000000
75%    1.039684e+09    4.800000        1.000000
max    1.253973e+09    5.000000        1.000000

In [178]:
# Dependent variable: varible to be predicted.
# Independent varianbel: Multiple vaariables used for prediction.

In [179]:
# let's clean coloumns
Input1.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation'],
      dtype='object')

In [180]:
Input1.Size.value_counts()

Size
M        171
free     165
L         93
S         34
XL        14
small      1
s          1
Name: count, dtype: int64

In [181]:
Input1.Season.value_counts()

Season
Summer    154
Spring    116
Winter     94
Automn     59
winter     45
Autumn      7
spring      2
Name: count, dtype: int64

In [182]:
Input1.SleeveLength.value_counts()

SleeveLength
sleevless         216
full               94
short              92
halfsleeve         32
threequarter       17
thressqatar         8
sleeveless          4
capsleeves          3
cap-sleeves         2
sleeevless          2
turndowncollor      1
Petal               1
butterfly           1
threequater         1
half                1
urndowncollor       1
sleveless           1
Name: count, dtype: int64

In [183]:
Input1.Material.value_counts()

Material
cotton           148
polyster          93
silk              26
chiffonfabric     24
mix               12
nylon             10
rayon             10
spandex            5
milksilk           5
cashmere           4
microfiber         3
lycra              3
acrylic            3
linen              3
other              2
viscos             2
shiffon            2
modal              1
lace               1
sill               1
wool               1
model              1
Name: count, dtype: int64

In [184]:
Input1['Pattern Type'].value_counts()

Pattern Type
solid        199
print         67
patchwork     47
animal        19
striped       15
dot           13
geometric      5
plaid          3
leopard        3
floral         2
character      1
splice         1
leapord        1
none           1
Name: count, dtype: int64

In [185]:
Input1.FabricType.value_counts()

FabricType
chiffon       129
broadcloth     29
worsted        18
jersey         12
shiffon         8
sattin          6
Corduroy        2
wollen          2
batik           2
poplin          2
tulle           2
other           1
satin           1
flannael        1
flannel         1
knitting        1
dobby           1
woolen          1
lace            1
organza         1
knitted         1
terry           1
Name: count, dtype: int64

In [186]:
Input1.FabricType.value_counts()

FabricType
chiffon       129
broadcloth     29
worsted        18
jersey         12
shiffon         8
sattin          6
Corduroy        2
wollen          2
batik           2
poplin          2
tulle           2
other           1
satin           1
flannael        1
flannel         1
knitting        1
dobby           1
woolen          1
lace            1
organza         1
knitted         1
terry           1
Name: count, dtype: int64

In [187]:
Input1.FabricType=Input1.FabricType.replace(['flannael'],'flannel')
Input1.FabricType=Input1.FabricType.replace(['shiffon'],'chiffon')
Input1.FabricType=Input1.FabricType.replace(['sattin '],'satin')
Input1.FabricType=Input1.FabricType.replace(['wollen'],'woolen')
Input1.FabricType=Input1.FabricType.replace(['knitting'],'knitted')

In [188]:
Input1.Size=Input1.Size.replace(['small','s'],'S')

In [189]:
Input1.Style=Input1.Style.replace(['sexy'],'Sexy')

In [190]:
Input1.Season=Input1.Season.replace(['winter'],'Winter')
Input1.Season=Input1.Season.replace(['spring'],'Spring')
Input1.Season=Input1.Season.replace(['Automn'],'Autumn')

In [191]:
Input1.SleeveLength=Input1.SleeveLength.replace(['sleevless','sleeevless','sleeevless','sleveless'], 'sleeveless')
Input1.SleeveLength=Input1.SleeveLength.replace(['thressqatar','threequater'],'threequarter')
Input1.SleeveLength=Input1.SleeveLength.replace(['cap-sleeves'], 'capsleeves')
Input1.SleeveLength=Input1.SleeveLength.replace(['urndowncollor'],'turndowncollor')
Input1.SleeveLength=Input1.SleeveLength.replace(['half'],'halfsleeve')

In [192]:
Input1.Material=Input1.Material.replace(['shiffon'],'chiffonfabric')
Input1.Material=Input1.Material.replace(['sill'],'silk')
Input1.Material=Input1.Material.replace(['modal'],'model')

In [193]:
Input1['Pattern Type']=Input1['Pattern Type'].replace(['leapord'], 'leopard')
Input1['Pattern Type']=Input1['Pattern Type'].replace(['none'], 'Missing')

In [194]:
Input1.NeckLine=Input1.NeckLine.replace(['sweetheart'],'Sweetheart')

In [195]:
Input1.iloc[:,0:13].value_counts()

Dress_ID    Style    Price    Rating  Size  Season  NeckLine    SleeveLength  Material       FabricType  Decoration  Pattern Type  Recommendation
123456789   Sexy     Low      4.3     free  Winter  v-neck      sleeveless    silk           worsted     lace        solid         1                 1
511503677   Casual   Low      4.4     M     Summer  o-neck      halfsleeve    chiffonfabric  chiffon     bow         solid         0                 1
537463111   Casual   Average  4.7     M     Summer  o-neck      threequarter  chiffonfabric  chiffon     ruched      solid         0                 1
547555172   cute     Low      4.7     XL    Summer  o-neck      short         chiffonfabric  chiffon     bow         print         0                 1
560474456   Sexy     Low      4.4     free  Autumn  v-neck      sleeveless    cotton         worsted     lace        solid         0                 1
                                                                                                                                                    ..
1223469038  Sexy     Average  0.0     free  Winter  slash-neck  sleeveless    cotton         broadcloth  sequined    solid         1                 1
1225512606  cute     High     0.0     M     Winter  o-neck      threequarter  silk           chiffon     lace        patchwork     0                 1
1246749980  vintage  Average  0.0     S     Spring  o-neck      full          mix            chiffon     embroidary  print         0                 1
1246945687  Novelty  Average  0.0     free  Summer  o-neck      full          cotton         sattin      hollowout   solid         0                 1
1249825438  Sexy     Average  0.0     free  Autumn  o-neck      full          polyster       sattin      hollowout   solid         0                 1
Name: count, Length: 101, dtype: int64

In [196]:
# Let's take care of NA's
Input1.isnull().sum().sort_values(ascending=False)

FabricType        256
Decoration        224
Material          119
Pattern Type      102
NeckLine            3
Price               2
Season              2
SleeveLength        2
Dress_ID            0
Size                0
Rating              0
Style               0
Recommendation      0
dtype: int64

In [198]:
#for loop to get the frequency of NA's 
nullcol=['FabricType','Decoration','Material','Pattern Type']
for col in nullcols:
    freq=Input1[col].value_counts(dropna=False)
    print(freq)

FabricType
NaN           256
chiffon       137
broadcloth     29
worsted        18
jersey         12
sattin          6
woolen          3
flannel         2
poplin          2
knitted         2
batik           2
tulle           2
Corduroy        2
other           1
satin           1
dobby           1
organza         1
lace            1
terry           1
Name: count, dtype: int64
Decoration
NaN           224
lace           67
sashes         41
beading        22
hollowout      21
applique       20
ruffles        17
bow            14
sequined       13
pockets         5
embroidary      5
button          5
flowers         4
rivet           3
crystal         3
ruched          3
feathers        2
draped          2
plain           2
pearls          1
Tiered          1
pleat           1
tassel          1
cascading       1
none            1
Name: count, dtype: int64
Material
cotton           148
NaN              119
polyster          93
silk              27
chiffonfabric     26
mix               12
rayon             10
nylon             10
spandex            5
milksilk           5
cashmere           4
microfiber         3
linen              3
lycra              3
acrylic            3
other              2
viscos             2
model              2
lace               1
wool               1
Name: count, dtype: int64
Pattern Type
solid        199
NaN          102
print         67
patchwork     47
animal        19
striped       15
dot           13
geometric      5
leopard        4
plaid          3
floral         2
character      1
splice         1
Missing        1
Name: count, dtype: int64

In [201]:
# Since significant, let's replace NA's with missing for first four columns.
NAImpute=['FabricType', 'Decoration','Material','Pattern Type']
for col in NAImpute:
    Input1[col]=Input1[col].fillna('Missing')

In [202]:
# For less significant, let's replace NA's with most frequent value.
for col in Input1.columns:
    Input1[col]=Input1[col].fillna(Input1[col].value_counts().idxmax())

In [215]:
Input1.isnull().sum().sort_values(ascending=False)

Dress_ID          0
Style             0
Price             0
Rating            0
Size              0
Season            0
NeckLine          0
SleeveLength      0
Material          0
FabricType        0
Decoration        0
Pattern Type      0
Recommendation    0
dtype: int64

In [203]:
# Hypothesis Testing
# Relation between Price and recommendation.
pd.crosstab(Input1.Recommendation, Input1.Price)

Price           Average  High  Low  Medium  very-high
Recommendation
0                   152    12   94      11          5
1                    90     9   71      19         16

In [204]:
from scipy.stats import chi2_contingency
chi2_contingency(pd.crosstab(Input1.Recommendation, Input1.Price))

Chi2ContingencyResult(statistic=np.float64(17.845001957920374), pvalue=np.float64(0.001323208282027842), dof=4, expected_freq=array([[138.43006263,  12.0125261 ,  94.38413361,  17.16075157,
         12.0125261 ],
       [103.56993737,   8.9874739 ,  70.61586639,  12.83924843,
          8.9874739 ]]))

In [205]:
# Since P Value is less than 5% (0.00132), reject Null hyppthesis. There is association between price and Recommendation.

In [207]:
# Relation between season and recommendation.
pd.crosstab(Input1.Recommendation, Input1.Season)

Season          Autumn  Spring  Summer  Winter
Recommendation
0                   44      47     102      81
1                   22      71      54      58

In [211]:
chi2_contingency(pd.crosstab(Input1.Recommendation, Input1.Season))

Chi2ContingencyResult(statistic=np.float64(21.292037210424134), pvalue=np.float64(9.155121262194503e-05), dof=3, expected_freq=array([[37.75365344, 67.49895616, 89.23590814, 79.51148225],
       [28.24634656, 50.50104384, 66.76409186, 59.48851775]]))

In [210]:
# Since P Value is less than 5%, reject Null hyppthesis. There is association between Season and Recommendation.

In [212]:
# Test null if  Average rating of recommendation 0/1 is equal.

In [217]:
Input1.Rating.groupby(Input1.Recommendation).mean()

Recommendation
0    3.405474
1    3.601463
Name: Rating, dtype: float64

In [218]:
Input1.Rating.groupby(Input1.Recommendation).var()

Recommendation
0    4.253193
1    3.931910
Name: Rating, dtype: float64

In [220]:
recommend0=Input1[Input1.Recommendation==0]
recommend1=Input1[Input1.Recommendation==1]

In [221]:
from scipy.stats import ttest_ind

In [223]:
ttest_ind(recommend0.Rating,recommend1.Rating,equal_var=False)
# P is greather than 0.05, fail to reject null hypothesis.
# differnece in mean is not signficant.

TtestResult(statistic=np.float64(-1.052083695794725), pvalue=np.float64(0.29332782204848495), df=np.float64(448.3671835004146))